# Web framework
fastapi==0.95.0
uvicorn==0.21.1
pydantic==2.5.2
typing-inspect==0.9.0
typing-extensions==4.9.0

# Database
pymongo==4.3.3
motor==3.1.1
beanie==1.19.2

# Authentication
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.6
bcrypt==4.0.1
pyjwt==2.6.0

# Email
google-auth==2.16.2
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.80.0
msal==1.24.1
requests==2.31.0
beautifulsoup4==4.12.2

# AI/ML
openai==1.1.1
langchain==0.3.21
langchain-openai==0.0.2
langchain-core==0.1.8
langchain-community==0.0.9
langchain-text-splitters
azure-ai-inference
pydantic-core==2.14.5

# Utilities
python-dotenv==1.0.0
pytest==7.2.2
streamlit==1.29.0
PyMuPDF==1.22.5
jinja2==3.1.2 